<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<body>
	<div layout:fragment="content">
		<div id="area-principal">
			<h2>tarefas</h2>


			<div id="tarefa-concluida">
				<span th:text="${tarefaconcluida}  " ></span> / 
				<span th:text="${tarefapedente}  " ></span>
			</div>
			<div id="lista-tarefas">
				<table>
					<tr >
						<th>nome</th>
						<th>descriçao</th>
						<th>prioridade</th>

					</tr>
					
					<tr th:each="tarefa : ${tarefas}">
						<td th:text="${tarefa.nome}"></td>
						<td th:text="${tarefa.descricao}"></td>
						<td th:text="${tarefa.prioridade}"></td>
						<td><a th:href="@{/tarefa/concluir/{id}(id=${tarefa.id})}">concluir</a></td>
						<td><a th:href="@{/tarefa/visualizar/{id}(id=${tarefa.id})}">Editar</a></td>
					</tr>
					
				</table>
			</div>
		</div>
	</div>
</body>
</html>